---

- Shire:
  - CPU:
      widget:
        type: glances
        url: {{HOMEPAGE_VAR_GLANCES_URL}}
        username: {{HOMEPAGE_VAR_GLANCES_USERNAME}}
        password: {{HOMEPAGE_VAR_GLANCES_PASSWORD}}
        version: 4
        metric: cpu
        refreshInterval: 1000
        pointsLimit: 30
        chart: true

- Shire-extra:
  - Memory:
      weight: 10
      widget:
        type: glances
        url: {{HOMEPAGE_VAR_GLANCES_URL}}
        username: {{HOMEPAGE_VAR_GLANCES_USERNAME}}
        password: {{HOMEPAGE_VAR_GLANCES_PASSWORD}}
        version: 4
        metric: memory
        refreshInterval: 1000
        pointsLimit: 15
        chart: true

  - Network Usage:
      weight: 20
      widget:
        type: glances
        url: {{HOMEPAGE_VAR_GLANCES_URL}}
        username: {{HOMEPAGE_VAR_GLANCES_USERNAME}}
        password: {{HOMEPAGE_VAR_GLANCES_PASSWORD}}
        version: 4
        metric: network:eth0
        refreshInterval: 1000
        pointsLimit: 15
        chart: true

- Storage:
  - TrueNAS:
      widget:
        type: truenas
        url: https://truenas.pixelstack.live
        key: {{HOMEPAGE_VAR_TRUENAS_KEY}}
        enablePools: true
        nasType: scale

- Calender:
  - Calender:
      widget:
        type: calendar
        firstDayInWeek: monday
        view: monthly # monthly, agenda
        maxEvents: 10
        showTime: true
        timezone: {{HOMEPAGE_VAR_TIMEZONE}}
        integrations:
          - type: ical
            url: {{HOMEPAGE_VAR_ICAL_URL}}
            name: {{HOMEPAGE_VAR_ICAL_NAME}}
            color: zinc
            params:
              showName: true

#- Management:
  # Portainer@docker weight: 10
  # Authentik@doker weight: 20
  # Glances@docker weight: 30

#- Services:
  # Nextcloud@docker weight: 10
  # Immich@docker weight: 20
  # Plex@docker weight: 30
  # Jellyfin@docker weight: 40
  # Paperless-NGX@docker weight: 50

#- Providers:
  # PgAdmin@docker weight: 10
  # Threadfin@docker weight: 20
  # Threadfin Streamlink@docker weight: 30

- Networking:
  - UniFi:
      widget:
        weight: 5
        type: unifi
        url: https://192.168.1.1
        username: {{HOMEPAGE_VAR_UNIFI_USERNAME}}
        password: {{HOMEPAGE_VAR_UNIFI_PASSWORD}}
        fields: ["uptime", "wan", "lan_users", "wlan_users"]
  # Omada Controller@docker weight: 10
  # PiHole@docker weight: 20
  # Wireguard Portal@docker weight: 30

- Workspace:
  - Divider-1:
      description: "Divider"

- Divider-2:
  - Divider-2:
      description: "Divider"